<h2>Add new celebrity</h2>
<a href='/celebrities'><button>Back</button></a>

<form  action="/celebrities" method="post">
  <input name='name' placeholder="Name"></input><br>

  <input name='occupation' placeholder="Occupation"></input><br>

  <input name='catchPhrase' placeholder="Cathing phrase"></input><br>

  <button>ADD</button>

</form>
