<h2>Add new movie</h2>
<a href='/movies'><button>Back</button></a>

<form  action="/movies" method="post">
  <input name='name' placeholder="Name"></input><br>

  <input name='genre' placeholder="Genre"></input><br>

  <textarea name='plot' placeholder="Plot"></textarea><br>

  <button>ADD</button>

</form>
